.footer{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0 24px;
}

.icons-container__footer{
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.parrafo__footer{
    color: rgba(114, 114, 114, 0.315);
}

.fix-footer{
    margin-top: 55vh;
}