@import "./variables";
@import "./mixins";

.main{
    @include column-disposition;
}
.presentacion-container__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
}
.img__presentacion{
    width: 60vw;
    border: 1px solid $color-1;
    border-radius: 40px;
}

.triangle-img{
    width: 30px;
}
.navbar{
    width: 100%;
}
.titulo__main{
    @include titulo--style;
    width: 25%;
    margin: 30px 0 16px 16px;
    text-align: center
}

.productos-container{
    @include container--style;
    padding: 36px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.articulo-container{
    @include column-disposition;
    align-items: center;
    color: $color-1;
    margin: 10px;
    border-radius: 40px;
}

.imagen-articulo{
    width: 150px;
    height: 150px;
    margin: 6px 0;
    border: 2px solid $color-1;
    border-radius: 100%;
}

.nombre-articulo{
    text-align: center;
}

.opciones-compra__main{
    @include container--style;
    display: flex;
    justify-content: space-between;
    padding: 16px 10vw;
    margin: 16px 0;
}

.carrito-container{
    display: flex;
    width: 80px;
    justify-content: space-between;
}
.carrito{
    width: 30px;
}

.cantidad-de-articulos{
    border: 1px solid $color-1;
    width: 30px;
    height: 30px ;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-1;
}
.siguiente{
    font-family: $font-family-1;
    font-weight: bold;
    padding: 8px;
    border-radius: 25px;
    color: $color-1;
    background-color: transparent;
}