//colors
$background-color2: rgb(32, 32, 32);
$background-color1: rgb(81, 10, 93);
$color-1: #66ffff;

//fonts
$font-family-1: Arial, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;